/CompetitionTest.class
/CompetitorTest.class
/LeagueTest.class
/MasterTest.class
/MatchAleaTest.class
/SelectFourFromSixteenTest.class
/StrategyTest.class
/TournamentTest.class
/TwentyFourDividedIntoThreeGrpOfEightTest.class
/competition/
/event/
/listeners/
/MatchTest.class
